.card{
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    color:black; 
}
.card:hover{
    box-shadow:0px 8px 10px 0px rgb(82, 80, 80)
}
.flex-container{
    flex-wrap:wrap;
    display:flex;
    align-content: space-around
}

.img:hover, .img:focus {
    transform:scale(1.5)
    }